NIR_MYRMIAKA_HOST=0.0.0.0
NIR_MYRMIAKA_DB_FILE=/db_data/db.sqlite3
NIR_MYRMIAKA_VERSION=v1
NIR_MYRMIAKA_ENVIRONMENT=dev
NIR_MYRMIAKA_MINIO_HOST=localhost:9000
NIR_MYRMIAKA_ACCESS_KEY="minioadmin"
NIR_MYRMIAKA_SECRET_KEY="minioadmin"
NIR_MYRMIAKA_BUCKET_NAME="my-bucket"
NIR_MYRMIAKA_ADMIN_USER_ID=1